<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Sensor</ion-label>
      <ion-select [(ngModel)]="sensorSelected" (ionChange)="sensorChanged()">
        <ion-option *ngFor="let sensor of sensors">{{sensor}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-item *ngFor="let value of valuesToBeDisplayed" (click)="displayTime(value)">Valor Medido: {{value.value}}</button>
  </ion-list>
</ion-content>