<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Sensor</ion-label>
      <ion-select [(ngModel)]="sensorSelected" (ionChange)="sensorChanged()">
        <ion-option *ngFor="let sensor of sensors">{{sensor}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngFor="let value of valuesToBeDisplayed">
    <ion-card-content>
      <strong><p>Valor Medido: {{value.value}}</p></strong>
      <p>Data: {{value.time * 1000 | date:'dd-MM-yyyy - HH:mm'}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>